@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #01010129;
  /* outline: 1px solid slategrey; */
}
.loader {
  width: 32px;
  height: 32px;
  margin: auto;
  position: relative;
}

.loader:before {
  content: "";
  width: 32px;
  height: 5px;
  background: #db4c3f60;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.loader:after {
  content: "";
  width: 100%;
  height: 100%;
  background: #db4c3f;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {
  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}

@keyframes item-init {
  from {
    transform: translateX(16px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.item-init {
  opacity: 0;
  animation: item-init 0.35s ease-in-out forwards;
}

@keyframes scale-in {
  from {
    transform: scale(0.8) translateY(16px);
    opacity: 0.2;
  }
  to {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}

.scale-in {
  transform: scale(0.8);
  opacity: 0.2;
  animation: scale-in 0.35s ease-in-out forwards;
}

@keyframes fade-popup {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0px);
  }
}

.bottom-menu {
  @apply flex items-center absolute bottom-0 left-0 right-0 border-t border-gray-100 p-[10px] bg-white z-10;
  transform: translateY(50px);
  animation: fade-popup 0.4s ease-in-out forwards;
  animation-delay: 1s;
}
